amqp==5.1.1
asgiref==3.6.0
attrs==22.2.0
autobahn==23.1.2
Automat==22.10.0
beautifulsoup4==4.11.2
billiard==3.6.4.0
celery==5.2.2
certifi==2022.12.7
cffi==1.15.1
channels==3.0.5
charset-normalizer==3.0.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
constantly==15.1.0
cryptography==39.0.2
daphne==3.0.2
defusedxml==0.7.1
diff-match-patch==20230430
Django==4.2.4
django-admin-interface==0.26.1
django-allauth==0.52.0
django-classy-tags==4.1.0
django-cms==3.11.4
django-colorfield==0.10.1
django-filter==22.1
django-formtools==2.4.1
django-ga-tracking==0.0.6
django-globals==0.3.2
django-import-export==3.2.0
django-sekizai==4.1.0
django-treebeard==4.7
djangocms-admin-style==3.2.5
djangorestframework==3.14.0
et-xmlfile==1.1.0
filelock==3.9.0
google-cloud==0.34.0
huggingface-hub==0.12.1
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
kombu==5.2.4
MarkupPy==1.14
numpy==1.24.2
oauthlib==3.2.2
odfpy==1.4.1
openpyxl==3.1.2
packaging==23.0
pandas==2.1.0
Pillow==9.5.0
prompt-toolkit==3.0.36
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.6.0
PyMySQL==1.0.2
pyOpenSSL==23.0.0
python-dateutil==2.8.2
python-slugify==8.0.1
python3-openid==3.2.0
pytz==2022.7.1
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
service-identity==21.1.0
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
structlog==22.3.0
tablib==3.4.0
text-unidecode==1.3
tokenizers==0.13.2
tqdm==4.64.1
transformers==4.26.1
txaio==23.1.1
typing_extensions==4.5.0
tzdata==2022.7
urllib3==1.26.14
vine==5.0.0
wcwidth==0.2.6
xlrd==2.0.1
xlwt==1.3.0
zope.interface==5.5.2
