{% extends 'index/base.html' %}
{% load static %}
{% block title %}
<title>{{title}}</title>
{% endblock %}
{% block content %}
<div  class="row">
    <div style="font-size: 4rem;" class="col-3"><a class="btn btn-outline-secondary">龜山長慶店</a></div>
    <div style="font-size: 4rem;" class="col-3"><a class="btn btn-outline-secondary">三峽大學店</a></div>
    <div style="font-size: 4rem;" class="col-3"><a class="btn btn-outline-secondary">蘆洲希望店</a></div>
    <div style="font-size: 4rem;" class="col-3"><a class="btn btn-outline-secondary">永和永利店</a></div>
</div>

{% endblock %}