{% extends 'index/base.html' %}
{% load static %}
{% block title %}
<title>{{title}}</title>
{% endblock %}
{% block content %}

<div class="container">
    <div class="row justify-content-center" style="margin-top: 30px;">
        <div class="col-20 col-sm-12 text-center mb-2">
            <a href="{% url 'Product:products_view' 1 %}" class="btn btn-outline-secondary btn-lg btn-block" style="width: 140px;">快閃團</a>
        </div>
        <div class="col-20 col-sm-12 text-center mb-2">
            <a href="{% url 'Product:products_view' 1 %}" class="btn btn-outline-secondary btn-lg btn-block" style="width: 140px;">龜山長慶店</a>
        </div>
        <div class="col-20 col-sm-12 text-center mb-2">
            <a href="{% url 'Product:products_view' 2 %}" class="btn btn-outline-secondary btn-lg btn-block" style="width: 140px;">三峽大學店</a>
        </div>
        <div class="col-20 col-sm-12 text-center mb-2">
            <a href="{% url 'Product:products_view' 3 %}" class="btn btn-outline-secondary btn-lg btn-block" style="width: 140px;">蘆洲三民店</a>
        </div>
        <div class="col-20 col-sm-12 text-center mb-2">
            <a href="{% url 'Product:products_view' 4 %}" class="btn btn-outline-secondary btn-lg btn-block" style="width: 140px;">永和永利店</a>
        </div>
    </div>
</div>

{% endblock %}