{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    <style>
        form {
            text-align: center;
        }

        .icon-pos-absolute {
            position: absolute;
            padding-top: 9px;
            padding-left: 5px;
            left: 93px;
        }

        .a {
            text-decoration: none;
            color: black;
        }
    </style>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>
{% if messages %}
{% for message in messages %}
<script type="text/javascript">
    alert("{{ message }}");
</script>
{% endfor %}
{% endif %}



<body style="background-color:rgb(220, 220, 220);font-family: Microsoft JhengHei;">
    <div class="container body-content d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <form action="." method="post" id="login" class="card" style="max-width: 500px; width: 100%; border: 1px solid #cfb704; font-size: 18px;border-radius:15px;">
            {% csrf_token %}
            <div class="card-body">
                <div class="text-center mb-4">
                    <img src="{% static '/img/login/logo.png' %}" style="width:80%;max-width:400px;">
                    <h1>捌貨生鮮</h1>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3" for="phone_number">帳號：</label>
                    <div class="col-md-9 input-group">
                        <input type="text" class="form-control" placeholder="請輸入電話" id="phone_number" name='phone_number'>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3" for="password">密碼：</label>
                    <div class="col-md-9 input-group">
                        <input type="password" class="form-control" placeholder="請輸入密碼" id="password" name='password'>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-warning btn-block" value="登入">
                </div>
                <div class="form-group">
                    <a class="btn btn-primary btn-block" href="{% url 'member:register' %}">註冊</a>
                </div>
                <!-- Business Hours Info -->
                <!-- Add your business hours info here -->
            </div>
        </form>
    </div>
    {% if messages %}
        {% for message in messages %}
            <script type="text/javascript">
                alert("{{ message }}");
            </script>
        {% endfor %}
    {% endif %}
</body>



</html>