{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    <style>
        form {
            text-align: center;
        }

        .icon-pos-absolute {
            position: absolute;
            padding-top: 9px;
            padding-left: 5px;
            left: 93px;
        }

        .a {
            text-decoration: none;
            color: black;
        }
    </style>
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>
{% if messages %}
{% for message in messages %}
<script type="text/javascript">
    alert("{{ message }}");
</script>
{% endfor %}
{% endif %}



<body style="width:100vw;height:100vh;background-color:rgb(39, 183, 123);font-family: Microsoft JhengHei;">
    <div class="container body-content">
        <div style="text-align: center;top: calc(50% - 180px);position: absolute;left: calc(50% - 150px);width: 300px;">
            <!-- <label style="font-size: 36px;font-family: 'Courgette';font-weight:600;">購物車</label><br> -->
            <img src="/cart/static/images/img/213.png" alt="213">
        </div>
        <form action="." method="post" id="login">
            {% csrf_token %}
            <div class="card"
                style="width: 500px; height: 518px; left: calc(50vw - 250px); top: calc(50vh - 259px); position: absolute; border: 1px solid #cfb704; font-size: 18px;border-radius:15px;">
                <div class="row">
                    <div class="form-group col-md-12" style="margin-bottom:0px;">
                        <img src="{% static 'images/img/logo.png' %}" style="width:400px;margin-top:20px;">
                        <h1 style="margin-top:10px;font-weight:600">榮哥海鮮</h1>
                    </div>
                    <div class="form-group col-md-12" style="padding-top:15px">
                        <label class="control-label col-md-3"
                            style="float:left;padding-top:4px;text-align:right">帳號：</label>
                        <div class="col-md-9" style="padding-left: 0px; display: inline-block;width:calc(100% - 100px)">
                            <i class="fa fa-user-circle icon-pos-absolute" aria-hidden="true"></i>
                            <!-- <i class="icon icon-user icon-pos-absolute"></i> -->
                            <input type="text" class="form-control" placeholder="請輸入電話" id="phone_number" name='phone_number'
                                style="padding:7px 30px;">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-3"
                            style="float:left;padding-top:10px;text-align:right">密碼：</label>
                        <div class="col-md-9" style="padding-left:0px;display:inline-block;width:calc(100% - 100px)">
                            <!-- <i class="icon icon-lock icon-pos-absolute" style="padding-left:8px"></i> -->
                            <i class="fa fa-unlock icon-pos-absolute" aria-hidden="true"></i>
                            <input type="password" class="form-control" placeholder="請輸入密碼" name='password'
                                id="password" style="padding:7px 30px;">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-warning" style="width:100%" value="登入">
                        </div>
                        <br>
                        <div class="col-md-12">
                            <a class="btn btn-primary" style="width:100%"
                                href="{% url 'member:register' %}">註冊</a>&emsp;
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-md-12">
                            <div style="border: 1px solid black; border-radius: 10px; padding: 15px;">
                                <div class="row">
                                    <div class="col-md-6"
                                        style="text-align: right;padding:0px;font-weight:600;font-size:22px">營業時間：</div>
                                    <div class="col-md-6"
                                        style="text-align: left; padding: 0px; font-weight: 600; font-size: 22px ">
                                        11:20~22:00</div>
                                    <div class="col-md-6" style="text-align: right;padding:0px">自取訂單結單時間：</div>
                                    <div class="col-md-6" style="text-align: left;padding:0px">21:00超過時間為隔日出貨</div>
                                    <div class="col-md-6" style="text-align: right;padding:0px">快遞訂單結單時間：</div>
                                    <div class="col-md-6" style="text-align: left;padding:0px">21:00超過時間為隔日出貨</div>
                                    <div class="col-md-6" style="text-align: right;padding:0px">宅配訂單結單時間：</div>
                                    <div class="col-md-6" style="text-align: left;padding:0px">15:30 假日時間：13:00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- <div class="col-4">
        <button id="btn-regist" class="btn btn-warning" style="width:100%"><a class="a"
                href="/member/backend/register.html">註冊帳號</a></button>
    </div> -->
    </div>

</body>



</html>