{% load static %}
{% block title %}
<title>{{title}}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
    form {
        text-align: center;
    }

    .form-label {
        font-size: 32px; /* 調整預設字體大小 */
        font-weight: 700; /* 較低的字體粗細 */
    }

    .form-control {
        height: 45px; /* 適應觸摸操作的大小 */
    }

    @media (max-width: 768px) { /* 针对平板和手机的媒体查询 */
        .form-label {
            font-size: 24px; /* 小螢幕的字體大小 */
        }

        .form-control {
            height: 40px; /* 小螢幕的控件高度 */
        }
    }

    @media (max-width: 576px) { /* 针对较小屏幕手机的媒体查询 */
        .form-label {
            font-size: 20px; /* 更小螢幕的字體大小 */
        }

        /* 可以進一步調整其他元素的大小和布局 */
    }
</style>
{% endblock %}

{% if error_message %}
<script type="text/javascript">
    alert("{{ error_message }}");
    window.location.href = "{% url 'member:register' %}";
</script>
{% elif success %}
<script type="text/javascript">
    alert("註冊成功");
    window.location.href = "{% url 'home' %}";
</script>
{% endif %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="." method="post" name='register' enctype="multipart/form-data" class="container" style="padding-top: 30px;">
                {% csrf_token %}
                <div class="col-md-8 offset-md-2">
                    {{ form.as_p}}
                    {{ address_form.as_p }}
                    <input type="submit" value="註冊" class="btn btn-warning btn-block" style="margin-top: 10px;">
                </div>
            </form>
        </div>
    </div>
</div>
