{% extends 'index/base.html' %} {% load static %} {% block title %}
<title>購物車</title>
<style>
  .addtocart_inner {
    width: 80%;
    margin: auto;
  }
</style>
{% endblock %} {% block content %} 

{% for branch, cart_items in cartlist.items %}
  <h3 class="text-center">{{ branch }}</h3>
  <div class="addtocart_outer">
    <div class="addtocart_inner">
      <div class="table-responsive"> <!-- 使用 Bootstrap 提供的響應式類 -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th>取消</th>
              <th>商品名稱</th>
              <th>商品單價</th>
              <th>商品數量</th>
              <th>金額</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart_items %} 
              {% for product in item.details %}
                <tr>
                  <td>
                    <button class="btn btn-danger" onclick="deleteItem({{ product.pk }})">
                      删除
                    </button>
                  </td>
                  <td>{{ product.Products }}</td>
                  <td>{{ product.Price }}</td>
                  <td>
                    <input
                      type="number"
                      class="cart-quantity"
                      data-detail-id="{{ product.id }}"
                      value="{{ product.Number }}"
                    />
                  </td>
                  <td class="item-price" data-detail-id="{{ product.id }}">
                    {{ product.Total }}
                  </td>
                </tr>
              {% endfor %}
              <tr>
                <td colspan="5" class="text-center">
                  共購買{{ item.details.count }}件商品
                </td>
              </tr>
              <tr>
                <td colspan="4" class="text-end">和計：</td>
                <td class="grandtotal" data-branch-id="{{ branch.id }}">
                  {{ item.total }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endfor %}
  <div class="d-flex justify-content-around my-3">
    <a href="{% url 'home' %}" class="btn btn-dark">繼續購物</a>
    {% comment %}
    <a href="{% url 'PurchaseOrder:addtocart' 'empty' %}" class="btn btn-dark"
      >清空購物車</a
    >
    {% endcomment %}
    <a
      href="{% url 'OrderManagement:cartorder' %}"
      class="btn btn-dark btn-checkout"
      >我要結帳</a
    >
  </div>
</div>

<!-- JavaScript 代码 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function deleteItem(detailId) {
      $.ajax({
          url: '{% url 'OrderManagement:delete_from_cart' %}',
          type: 'POST',
          data: {
              'detail_id': detailId,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function (response) {
              if (response.status === 'success') {
                  $('#cart-item-' + detailId).remove();
                  alert('刪除成功')
                  location.reload()
              } else {
                  alert('删除失败: ' + response.error);
              }
          }
      });
  }
  $('.cart-quantity').on('change', function () {
      var detailId = $(this).data('detail-id');
      var newQuantity = $(this).val();
      $.ajax({
          url: '{% url 'OrderManagement:update_cart_item'%}',
          type: 'POST',
          data: {
              'detail_id': detailId,
              'quantity': newQuantity,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function (response) {
              if (response.status === 'success') {
                  console.log('更新成功');
                  console.log(detailId);
                  console.log('.grandtotal[data-branch-id="' + response.branch_id + '"]');

                  $('.item-price[data-detail-id="' + detailId + '"]').text(response.new_total);
                  $('.grandtotal[data-branch-id="' + response.branch_id + '"]').text(response.carttotal);
              } else {
                  console.log('更新失败');
              }
          }
      });
  });
</script>

{% endblock %}
