{% extends 'index/base.html' %} {% load static %} {% block title %}
<title>訂單詳情</title>
<style>
  .addtocart_inner {
    width: 80%;
    margin: auto;
  }
</style>
{% endblock %} {% block content %} 
<h2>您在 {{ branch_name }} 於 {{order.Time}} 下的訂單</h2>

<script>
    function refresh_item_state(state) {
        $('#tb_item tr').each(function(e){
            if ($(this).data('delivery') == state) $(this).show()
            else $(this).hide()
        })
    }
</script>

<button onclick="refresh_item_state(0)">未處理</button>
<button onclick="refresh_item_state(1)">待出貨</button>
<button onclick="refresh_item_state(2)">待付款</button>
<button onclick="refresh_item_state(3)">代收貨</button>
<button onclick="refresh_item_state(4)">完成訂單</button>
<button onclick="refresh_item_state(5)">退貨</button>
<button onclick="refresh_item_state(6)">退款</button>

<!-- 显示订单详情 -->
<div class="addtocart_outer">
    <div class="addtocart_inner">
      <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>商品名稱</th>
                    <th>單價</th>
                    <th>數量</th>
                    <th>總計</th>
                </tr>
            </thead>
            <tbody id="tb_item">
                {% for item in details_with_product_names %}
                    <tr data-delivery="{{item.detail.Delivery_state}}">
                        <td>{{ item.product_name }}</td>
                        <td>{{ item.detail.Number }}</td>
                        <td>{{ item.detail.Price }}</td>
                        <td>{{ item.detail.Total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}