{% extends 'index/base.html' %} {% load static %} {% block title %}
<title>歷史訂單查詢</title>
<style>
    .addtocart_inner {
        width: 80%;
        margin: auto;
    }
</style>
{% endblock %} {% block content %}
<div class="addtocart_outer">
    <div class="addtocart_inner">
        <div class="table-responsive">
            <h2>歷史訂單查詢</h2>
            {% for state in State_CHOICES %}
            <a class="btn btn-info" href="{% url 'OrderManagement:past_orders' stateId=state.0 %}">{{ state.1 }}</a>
            {% endfor %}
            <table id="orderStatusTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>商品名稱</th>
                        <th>單價</th>
                        <th>數量</th>
                        <th>總計</th>
                    </tr>
                </thead>
                {% for order_id, details in orders_with_details.items %}
                <tbody>
                    {% if details %}
                    <tr>
                        <td colspan="4">訂單編號: {{ order_id }}</td>
                    </tr>
                    <!-- 仅当有订单详情时，才渲染这部分 -->
                    {% for order_detail in details %}
                    <tr>
                        <td>{{ order_detail.Products__Item_name }}</td>
                        <td>{{ order_detail.Price }}</td>
                        <td>{{ order_detail.Number }}</td>
                        <td>{{ order_detail.Total }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
            </table>

        </div>
    </div>
    {% endblock %}